---
layout: page
title: Blog
permalink: /blog/
navigation_weight: 4
pagination:
  enabled: true
---

<section id="posts" class="py-5">
  <div class="container">
    <div class="row post-list" id="search-hits">
      {% for post in site.posts %}
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ post.thumbnail }}"
            alt="Card image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.excerpt }}</p>
            <a
              href="{{ post.url | prepend: site.baseurl }}"
              class="btn
            btn-primary"
              >Více</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include algolia.html %}
</section>
