---
layout: page
title: Blog
permalink: /blog/
navigation_weight: 4
---

<section id="posts" class="py-5">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="{{ post.thumbnail }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <a
            href="{{ post.url | prepend: site.baseurl }}"
            class="btn btn-primary"
            >Odkaz</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Pager -->
  {% if paginator.total_pages > 1 %}

  <div class="clearfix">
    {% if paginator.previous_page %}
    <a
      class="btn btn-primary float-left"
      href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
      >&larr; Newer<span class="d-none d-md-inline"> Posts</span></a
    >
    {% endif %} {% if paginator.next_page %}
    <a
      class="btn btn-primary float-right"
      href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
      >Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a
    >
    {% endif %}
  </div>

  {% endif %}
</section>
