<footer class="page-footer font-small unique-color-dark pt-4">
  <div class="container">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3 mb-3">
          <h5 class="text-uppercase font-weight-bold">
            <a
              class="navbar-brand"
              href="https://zen-torvalds-384b19.netlify.com"
              ><span class="font-weight-bold myBlue">JAM</span> Stack</a
            >
          </h5>
          <p class="text-justify">
            Praktická část bakalářské práce na téma JAM Stack studenta oboru ITE
            na katedře informatiky pedagogické fakulty Jihočeské univerzity v
            Českých Budějovicích Jakuba Minky.
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3" />
        <div class="col-md-6 mt-md-0 mt-3">
          <form
            name="subscription"
            class="input-group"
            method="POST"
            data-netlify="true"
          >
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Email"
              aria-label="Your email"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="text-center btn unique-color mb-2" type="submit">
                Odebírat
              </button>
            </div>
          </form>
          <button class="text-center btn unique-color mb-2" id="btn-login">
            Admin
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-white py-3">
    © 2018 Copyright: <a href="">Jakub Minka</a>
  </div>
</footer>
