<footer class="page-footer font-small unique-color-dark pt-4">
  <div class="container">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3 mb-3 text-center">
          <h5 class="text-uppercase font-weight-bold footer-title">
            <a
              class="navbar-brand"
              href="https://zen-torvalds-384b19.netlify.com"
              ><span class="font-weight-bold myBlue">JAM</span> Stack</a
            >
          </h5>
          <p class="text-center">
            Praktická část bakalářské práce na téma JAM Stack studenta oboru ITE
            na katedře informatiky pedagogické fakulty Jihočeské univerzity v
            Českých Budějovicích Jakuba Minky.
          </p>
        </div>
        <div class="col-md-4 mt-md-0 mt-3 mb-3 text-center">
          <h5 class="text-uppercase font-weight-bold footer-title">
            Odkazy a zdroje
          </h5>
          <ul class="links">
            <li>
              <a
                target="_blank"
                href="https://zen-torvalds-384b19.netlify.com/admin"
                alt="Přihlášení admina"
                >Přihlášení administrátora</a
              >
            </li>
            <li>
              <a target="_blank" href="https://github.com/jakubminka/JAM_Stack"
                >Repozitář webu na GitHub.com</a
              >
            </li>
            <li>
              <a target="_blank" href="https://jamstack.org" alt="JAM Stack"
                >JAM Stack</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-4 mt-md-0 mt-3 mb-3 text-center">
          <h5 class="text-uppercase font-weight-bold footer-title">
            Odběr newsletteru
          </h5>
          <form
            name="subscribe"
            method="POST"
            class="input-group mt-4"
            netlify="true"
          >
            <input
              type="email"
              name="email"
              class="form-control form-control-sm mt-1"
              placeholder="Email"
              aria-label="Váš email"
            />
            <button class="btn btn-sm btn-change my-0" type="submit">
              Odebírat
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center text-white py-3">
    © 2018 Copyright: <a href="">Jakub Minka</a>
  </div>
</footer>
