<header>
  <div
    class="view jarallax"
    data-jarallax="{&quot;speed&quot;: 0.2}"
    style="background-image: url('assets/images/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
  >
    <div
      class="mask rgba-black-light d-flex justify-content-center align-items-center"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-4 white-text text-center">
            <h1
              class="h1-reponsive white-text text-uppercase mb-0 pt-md-5 animated fadeInDown"
            >
              <strong class="myBlue">JAM</strong> Stack
            </h1>
            <hr class="hr-light mt-2 animated fadeInUp" />
            <h5 class="text-uppercase mb-4 white-text animated fadeIn">
              <strong>Moderní technologie pro vývoj webu</strong>
            </h5>
            <a
              href="#more"
              class="text-center btn unique-color mb-2 animated bounceIn"
              data-wow-delay="0.4s"
              >Více</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
