<!-- Jquery script -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>

<!-- Script databáze PouchDB -->
<script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>

<!-- Bootstrap script -->
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<!-- Hlavní skripty -->
<script type="text/javascript" src="/assets/js/script.js"></script>

<!-- Script ReCaptcha -->
<script src="https://www.google.com/recaptcha/api.js?render=explicit"></script>

<!-- Script widgetu pro přihlášení do Netlify CMS -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Script Google Maps API -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTjhUHTwh5cEeZziPWxcD2NRt3BEfZPQk&callback=initMap"
  async
  defer
></script>

<!-- Snipcart API konfigurace -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script
  src="https://cdn.snipcart.com/scripts/2.0/snipcart.js"
  id="snipcart"
  data-api-key="MmEwYTM4NzQtNDk4Ni00ODlkLWIyZTktNWQ0MjA0NWIxYWI5NjM2ODYyNzk5NDk4OTMzNTQz"
></script>

<!-- Skript ToDo -->
<script type="text/javascript" src="/assets/js/todo.js"></script>

<!-- Particles -->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script
  type="text/javascript"
  src="/assets/js/particlesjs-config.json"
></script>
<script>
  particlesJS.load(
    "particles-js",
    "/assets/js/particlesjs-config.json",
    function() {
      console.log("particlesjs-config.json loaded...");
    }
  );
</script>
