<!-- SKRIPTY -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<!-- Skript pro přihlášení do Netlify CMS -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- Skript widgetu pro přihlášení do Netlify CMS -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<!-- Vlastní skripty -->
<script>
  function brandOver() {
    document.getElementById("brandChange").style.color = "white";
    document.getElementById("colorBrand").style.color = "#42bcf4";
  }
  function brandOut() {
    document.getElementById("brandChange").style.color = "white";
    document.getElementById("colorBrand").style.color = "";
  }

  function zvetsiText(element) {
    document.getElementById(element).style.fontSize = "x-large";
  }

  function zmensiText(element) {
    document.getElementById(element).style.fontSize = "";
  }
</script>

<!-- API PouchDB Database -->
<script src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js"></script>
<script>
  var db = new PouchDB("my_database");
  var remoteCouch =
    "http://jakubminka:225427Airlive@https://zen-torvalds-384b19.netlify.com/my_database";

  db.changes({
    since: "now",
    live: true
  }).on("change", showItems);

  function addItem(text) {
    var item = {
      _id: new Date().toISOString(),
      title: text,
      completed: false
    };
    db.put(item, function callback(err, result) {
      if (!err) {
        console.log("Úspěšně přidáno!");
      }
    });
  }
  function showItems() {
    db.allDocs({ include_docs: true, descending: true }, function(err, doc) {
      redrawItemsUI(doc.rows);
    });
  }

  function checkboxChanged(item, event) {
    item.completed = event.target.checked;
    db.put(item);
  }

  function deleteButtonPressed(item) {
    db.remove(item);
  }

  function itemBlurred(item, event) {
    var trimmedText = event.target.value.trim();
    if (!trimmedText) {
      db.remove(item);
    } else {
      item.title = trimmedText;
      db.put(item);
    }
  }

  function sync() {
    syncDom.setAttribute("data-sync-state", "syncing");
    var opts = { live: true };
    db.replicate.to(remoteCouch, opts, syncError);
    db.replicate.from(remoteCouch, opts, syncError);
  }
</script>
