<nav class="navbar navbar-expand-lg navbar-dark special-color-dark">
  <div class="container">
  <a class="navbar-brand" href="https://zen-torvalds-384b19.netlify.com" id="brand-change" onmouseover="brandAnimate"><span class="brand-span">JAM</span> Stack</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapseNow"
    aria-controls="collapseNow"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapseNow">
    <ul class="navbar-nav mr-auto">
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
      <li {% if p.url == page.url %}class="nav-item active"{% else %}class="nav-item"{% endif %}><a href="{{ p.url }}" class="nav-link">
        {{ p.title }}
      </a></li>
      <li class="hidden"><a href="#page-top"></a></li>
      {% endif %}
    {% endfor %}
    </ul>
    <a href=""><button type="button" class="btn unique-color">STÁHNOUT BP</button></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Hledat" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hledat</button>
    </form>
  </div>
  </div>
</nav>
