<!-- Šablona produktu v eshopu -->
<!DOCTYPE html>
<html lang="cs-CZ">
  {% include head.html %}
  <body>
    {% include nav.html %}{% include banner.html %}
    <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
      <div class="row">
        <div class="col-md-4 mt-4">
          <img
            src="{{ page.thumbnail | prepend: site.baseurl | replace: '//', '/' }}"
            style="max-width:100%"
          />
        </div>
        <div class="col-md-8" style="cursor: default;">
          <h2 class="mb-2 text-uppercase">{{ page.title }}</h2>
          <div class="mb-2">
            Kategorie: <span class="myBlue">{{ page.categories }}</span>
          </div>
          <div class="font-weight-bold">{{ page.excerpt }}</div>
          <p class="text-justify">{{ content }}</p>
          <div class="text-center">
            <button
              class="snipcart-add-item btn unique-dark md-2"
              data-item-name="{{ page.title }}"
              data-item-id="{{ page.id }}"
              data-item-image="{{ page.thumbnail }}"
              data-item-url="{{ page.url }}"
              data-item-price="{{ page.price }}"
            >
              Koupit za {{ page.price }} Kč
            </button>
            <a href="{{ site.baseurl }}/eshop"
              ><button class="btn unique-dark md-2">Zpět na eshop</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}{% include js.html %}
  </body>
</html>
