<!-- Šablona produktu v eshopu -->
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    <header>{% include banner.html %}</header>
    <div class="container mt-10 mb-10">
      <div class="row">
        <div class="col-md-4">
          <img
            src="{{ page.thumbnail | prepend: site.baseurl | replace: '//', '/' }}"
            style="max-width:100%"
          />
        </div>
        <div class="col-md-8">
          <h4>{{ page.title }}</h4>
          <span>{{ page.excerpt }}</span>
          <p>{{ page.description }}</p>
          <button
            class="snipcart-add-item btn"
            data-item-name="{{ page.name }}"
            data-item-id="{{ page.sku }}"
            data-item-image="{{ page.image }}"
            data-item-url="{{ site.baseurl }}"
            data-item-price="{{ page.price }}"
          >
            Koupit za {{ page.price }} Kč
          </button>
        </div>
      </div>
    </div>
    {% include footer.html %}{% include js.html %}
  </body>
</html>
