<!-- Šablona produktu v eshopu -->
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %} {% if page.thumbnail %}
    <header
      class="masthead"
      style="background-image: url('{{ page.thumbnail | prepend: site.baseurl | replace: '//', '/' }}'); background-size: cover; background-position: center center; height: 400px"
    ></header>
    {% else %}
    <header>{% include banner.html %}</header>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img src="page.thumbnail" /></div>
        <div class="col-md-6">
          <h4>{{ page.title }}</h4>
          <span>{{ page.excerpt }}</span>
          <p>{{ page.description }}</p>
          <button
            class="snipcart-add-item btn"
            data-item-name="{{ page.name }}"
            data-item-id="{{ page.sku }}"
            data-item-image="{{ page.image }}"
            data-item-url="{{ site.baseurl }}"
            data-item-price="{{ page.price }}"
          >
            Koupit za {{ page.price }} Kč
          </button>
        </div>
      </div>
    </div>
    {% include footer.html %}{% include js.html %}
  </body>
</html>
