---
layout: page
---

<div class="container">
  <div class="home">
    {{ content }}
    <h1 class="page-heading">Hledat...</h1>

    <div id="search-searchbar"></div>

    <div class="post-list" id="search-hits">
      {% for post in site.posts %}
      <div class="post-item" style="background-color: black">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        %} <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}"
            >{{ post.title | escape }}</a
          >
        </h2>
        <img src="{{ post.background }}" style="height: 50px; width: 70px;" />
        <div class="post-snippet">{{ post.excerpt }}</div>
      </div>
      {% endfor %}
    </div>
    {% include algolia.html %}
  </div>
</div>
