---
layout: page
---

<div class="container">
  <div class="home">
    {{ content }}
    <div class="mt-4" id="search-searchbar"></div>
    <div class="post-list" id="search-hits">
      {% for post in site.posts %}
      <div class="post-item">
        {% assign date_format = site.minima.date_format | default: "%-d %B %Y"
        %}
        <strong class="post-meta">{{ post.date | date: date_format }}</strong>
        <h3 style="color: #3F729B">
          <a
            class="post-link"
            href="{{ post.url | relative_url }}"
            style="color: #3F729B"
            >{{ post.title | escape }}</a
          >
        </h3>
        <div class="post-snippet">{{ post.excerpt }}</div>
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
